{% extends "blog/base.html" %}
{% block content %}
    
    <h5>𝓡𝓮𝓪𝓭𝔂𝓣𝓸𝓣𝔀𝓮𝓮𝓽 is a microblogging and social networking service on which users post and interact with messages known as "tweets". Registered users can post, like, and retweet tweets, but unregistered users can only read those that are publicly available.</h5>
    <h5>
𝓡𝓮𝓪𝓭𝔂𝓣𝓸𝓣𝔀𝓮𝓮𝓽 is a social media site, and its primary purpose is to connect people and allow people to share their thoughts with a big audience.</h5>
{% endblock content %}
